#### Import libraries

In [28]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

#### Collect Data

In [33]:
! kaggle competitions download -c house-prices-advanced-regression-techniques
! mkdir data
! unzip house-prices-advanced-regression-techniques -d data

Downloading house-prices-advanced-regression-techniques.zip to /home/faisal/Documents/CODE/PYTHON/house_price_prediction_using_ml
100%|████████████████████████████████████████| 199k/199k [00:00<00:00, 1.94MB/s]
100%|████████████████████████████████████████| 199k/199k [00:00<00:00, 1.93MB/s]
Archive:  house-prices-advanced-regression-techniques.zip
  inflating: data/data_description.txt
  inflating: data/sample_submission.csv
  inflating: data/test.csv
  inflating: data/train.csv

#### Data Analysis and Preprocessing

In [35]:
# load data in a dataframe
house_data = pd.read_csv('data/train.csv')

In [36]:
# view first 5 lines of data
house_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000